//font families
@font-face {
	font-family: 'FaithAndGloryOne';
	src: url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.eot');
	src: url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.woff2') format('woff2'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.woff') format('woff'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.ttf') format('truetype'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-one/faith-and-glory-one.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FaithAndGloryTwo';
	src: url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.eot');
	src: url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.eot?#iefix') format('embedded-opentype'),
         url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.woff2') format('woff2'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.woff') format('woff'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.ttf') format('truetype'),
	     url('../fonts/faith-and-glory/lite/faith-and-glory-two/faith-and-glory-two.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}
.faith1 { 
    font-family: 'FaithAndGloryOne', Helvetica, Arial, Sans-Serif;
}
.faith2 { 
    font-family: 'FaithAndGloryTwo', Helvetica, Arial, Sans-Serif;
}
.faith1 a, .faith2 a {
	padding:.5em;
}

.font-family-sans-serif { 
	font-family: 'Proxima N W01 Smbd', Helvetica, sans-serif;
}
.font-family-slab-light {
	font-family: 'PMNCaeciliaW01-45Light',  Verdana, Arial, Helvetica, sans-serif;	
}
.font-family-serif { 
	font-family: 'PMNCaeciliaW01-75Bold', 'Georgia', 'Times New Roman', Times, serif;
}
.font-family-monospace {
	font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}
.font-family-base {
	font-family: 'Proxima N W01 Light', Verdana, Arial, Helvetica, sans-serif;
}
.font-family-av-bold {
	font-family: 'PMNCaeciliaW01-75Bold', Verdana, Arial, Helvetica, sans-serif;
}
.bg-yellow {
    background-color: $yellow;
}
.bg-maroon {
    background-color: $maroon;
}
