@import "variables.scss";
@import "mixins.scss";
@import "adult_ba.scss";
// Global Components
body {
    overflow-x: hidden;
    @include body-font;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

.text-modal {
    color: $maroon;
    font-family: $sans-semibold;
    strong {
        color: $red;
    }
}

p {
    font-size: 16px;
    line-height: 1.75;
}

p.large {
    font-size: 20px;
}

strong {
    color: $red;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

// Restyled Primary Buttons
.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    //@include heading-font;
    font-family: $sans-semibold;
    font-weight: normal;
    border-radius: 0;
    font-size: 21px;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: uppercase;
    i {
        color: $yellow;
    }
}

// Custom Navigation Bar
.navbar-custom {
    background-color: $maroon;
    border-color: transparent;
    .navbar-header {
        width: 100%;
    }
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        float: none;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
        img {
            margin: auto;
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

// Navbar Change on Scroll
@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $maroon;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

header {
    background-color: $red;
    /*background-image: url('../img/Hero_SummerCamp_b.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    @include background-cover;
    text-align: center;
    color: white;*/
    .intro-text {
        padding-top: 150px;
        padding-bottom: 0;
        text-shadow: 2px 2px 2px #000;
        .intro-lead-in {
            @include script-font;
            font-style: normal;
            font-size: 35px;
            font-weight: normal;
            line-height: 40px;
            margin-bottom: 25px;
            span {
                color: $yellow;
            }
        }
        .intro-heading {
            @include script-two-font;
            font-weight: normal;
            font-size: 25px;
            line-height: 35px;
            margin-bottom: 25px;
        }
    }
}

.logo {
    img {
        margin: 10px auto;
    }
}

@media(min-width:992px) {
    header {
        .intro-text {
            padding-top: 500px;
            padding-bottom: 0;
            .intro-lead-in {
                @include script-font;
                font-style: normal;
                font-size: 90px;
                line-height: 70px;
                margin-bottom: 45px;
            }
            .intro-heading {
                @include script-two-font;
                font-size: 50px;
                line-height: 74px;
                margin-bottom: 30px;
            }
        }
    }
}

// Global Section Styles
section {
    padding: 50px 0;
    h2.section-heading {
        color: $red;
        font-size: 40px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h2.section-subheading {
        color: $red;
        font-size: 30px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 5px solid $yellow;
    }
    h3.section-heading {
        font-family: $sans-semibold;
        color: $maroon;
        font-size: 30px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 15px;
        text-transform: none;
    }
    h3.section-subheading {
        color: $red;
        font-size: 16px;
        @include serif-font;
        text-transform: none;
        //font-style: italic;
        font-weight: normal;
        margin-bottom: 15px;
    }
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}

// Services Section
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

// Portfolio Section
#portfolio {
    h2 {
        border-bottom: 5px solid $white;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
    h3.section-heading {
        text-transform: uppercase;
        padding-bottom: 40px;
    }
    .portfolio-item {
        margin: 0 0 15px;
        right: 0;
        .portfolio-link {
            display: block;
            position: relative;
            max-width: 400px;
            margin: 0 auto;
            .portfolio-hover {
                background: fade-out($theme-primary, .2);
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: all ease 0.5s;
                -webkit-transition: all ease 0.5s;
                -moz-transition: all ease 0.5s;
                font-family: $sans-semibold;
                &:hover {
                    opacity: 1;
                }
                .portfolio-hover-content {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    font-size: 20px;
                    text-align: center;
                    top: 50%;
                    margin-top: -12px;
                    color: white;
                    p {
                        font-size: 28px;
                        text-transform: uppercase;
                    }
                    i {
                        margin-top: -12px;
                    }
                    h3,
                    h4 {
                        margin: 0;
                    }
                }
            }
        }
        .portfolio-caption {
            color: $maroon;
            max-width: 400px;
            margin: 0 auto;
            background-color: white;
            text-align: center;
            padding: 25px;
            min-height: 90px;
            h4 {
                font-family: $sans-semibold;
                text-transform: none;
                margin: 0;
                font-size: 21px;
                text-transform: uppercase;
            }
            p {
                @include serif-font;
                font-style: italic;
                font-size: 16px;
                margin: 0;
            }
        }
    }
    * {
        z-index: 2;
    }
}

@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
        .portfolio-item.last-left {
            .portfolio-caption,
            .portfolio-link {
                margin: 0 0 0 auto;
            }
        }
        .portfolio-item.last-right {
            .portfolio-caption,
            .portfolio-link {
                margin: 0 auto 0 0;
            }
        }
    }
}

//about
section#about {
    p {
        max-width: 700px;
        margin: auto;
    }
}

//Jesuit
section#jesuit {
    h2.section-heading {
        border-bottom: 5px solid $white;
        padding-bottom: 40px;
        margin-bottom: 40px;
    }
}

// Timeline
section#timeline {
    padding: 0;
}

.timeline {
    max-width: 1000px;
    margin: auto;
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 0px;
        background-color: #f1f1f1;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: $yellow;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: $red;
            font-weight: normal;
            font-size: 28px;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            font-family: $sans-semibold;
            font-size: 21px;
            color: $maroon;
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            left: -15%;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            left: -20%;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px 20px;
            }
        }
    }
}

// Team Section
section#team {
    ul {
        color: $maroon;
    }
    li {
        list-style: none;
        font-family: $sans-semibold;
        font-size: 21px;
    }
    li:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e092";
        font-family: 'Glyphicons Halflings';
        font-size: 21px;
        float: left;
        margin-left: -21px;
        margin-right: 5px;
    }
}

.team-member {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}

// Clients Aside
aside.clients {
    img {
        margin: 50px auto;
    }
}

// Contact Section
section#contact {
    background-color: $gray-darker;
    background-image: url('../img/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .section-heading {
        color: white;
    }
    .form-group {
        margin-bottom: 25px;
        input,
        textarea {
            padding: 20px;
        }
        input.form-control {
            height: auto;
        }
        textarea.form-control {
            height: 236px;
        }
    }
    .form-control:focus {
        border-color: $theme-primary;
        box-shadow: none;
    }
    ::-webkit-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
    :-moz-placeholder {
        /* Firefox 18- */
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
    :-ms-input-placeholder {
        @include heading-font;
        font-weight: 700;
        color: $gray-lighter;
    }
    .text-danger {
        color: $theme-danger;
    }
}

// Footer
footer {
    color: $white;
    padding: 25px 0;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

// Social Buttons
ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $maroon;
            border: 2px solid $white;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 35px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

.portfolio-modal {
    .modal-dialog {
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        padding: 100px 0;
        text-align: left;
        h2 {
            color: $red;
            border-bottom: 5px solid $yellow;
            margin-bottom: 15px;
            padding-bottom: 15px;
            font-size: 3em;
            text-align: center;
        }
        h2.subheading {
            color: $red;
            border-bottom: none;
            margin-bottom: 5px;
            padding-bottom: 0;
            font-size: 2em;
            text-align: left;
        }
        .btn-xl {
            display: block;
            width: 150px;
            margin: 10px auto;
            padding: 5px 12px;
        }
        .btn-primary {
            background-color: transparent;
            border-color: transparent;
            color: $maroon;
            font-family: $sans-semibold;
        }
        .btn-primary:active {
            box-shadow: none;
        }
        button {
            display: block;
            margin: auto;
            font-size: 18px;
            i {
                color: $red;
                padding-left: 2px;
            }
        }
        p {
            margin-bottom: 15px;
            strong {
                color: $maroon;
                font-family: $sans-semibold;
            }
        }
        p.item-intro {
            color: $maroon;
            margin: 20px 0 30px;
            font-family: $sans-semibold;
            font-style: normal;
            font-size: 16px;
            text-align: center;
        }
        ul.list-inline {
            margin-bottom: 30px;
            margin-top: 0;
        }
        img {
            margin-bottom: 30px;
        }
    }
    .close-modal {
        position: absolute;
        width: 75px;
        height: 75px;
        background-color: transparent;
        top: 25px;
        right: 25px;
        cursor: pointer;
        &:hover {
            opacity: 0.3;
        }
        .lr {
            height: 75px;
            width: 1px;
            margin-left: 35px;
            background-color: $gray-darker;
            transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            /* IE 9 */
            -webkit-transform: rotate(45deg);
            /* Safari and Chrome */
            z-index: 1051;
            .rl {
                height: 75px;
                width: 1px;
                background-color: $gray-darker;
                transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                /* IE 9 */
                -webkit-transform: rotate(90deg);
                /* Safari and Chrome */
                z-index: 1052;
            }
        }
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}

// Highlight Color Customization
::-moz-selection {
    text-shadow: none;
    background: $yellow;
}

::selection {
    text-shadow: none;
    background: $yellow;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    webkit-tap-highlight-color: $theme-primary;
}
